:root {
  background-color: #242424;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: visible;
}
#app {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}
@font-face {
  font-family: "MinecraftFont";
  src: url("./assets/Minecraft.ttf");
}
.mf {
  font-family: MinecraftFont,serif,sans-serif;
}